@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #161FF8;
  --secondary: #2EB284;
  --accent: #D3B284;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

h1 {
  font-family: 'Montserrat', 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
}
